#app {
  width: 500px;
  height: 800px;
  background-color: lightgrey;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 20px 1fr;
  gap: 10px;
}

#control-panel {
  margin: 10px;
}

#customer-count {
  padding-left: 10px;
}

#customer-display {
  margin: 10px;
  border: 1px solid grey;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.customer-info-wrapper {
  height: 80px;
  overflow-x: hidden;
  word-break: break-all;
  max-width: 100%;
}

.customer-info {
  padding: 5px;
  font-size: 12px;
  margin: 10px;
  border: 1px solid white;
}

.customer-info:hover {
  border: 1px solid lightgray;
}